.overflowY{
    overflow-y: hidden;
    
    height: 100%;
}
.textbox{
    position: relative;
    width: 100%;
}
.inputWarn{
    border-color: var(--inputWarnCol)!important;
    
}

div.bodyOverlay{
    position: fixed; z-index: -1; width: 100%; height: 100%;
}

.anchorDefault{
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

.hide{
    width: 0;
    height: 0;
    overflow: hidden;
}

.flyInFromLeftStart{
    transform: translateX(-100%);
    opacity: 0;
    filter: blur(5px);
}
.flyInFromLeftEnd{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

.textBoxInside{
    position: absolute;
    display: block;
    width: inherit;
    word-wrap: break-word;
   
}
.alignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.alignCenterX{
    display: flex;
    justify-content: center;
}
.alignRight{
    display: flex;
    justify-content: flex-end;
}
.pillBorder{
    border-radius: 500px;
}
.scrllYBox{
    display: flex;
    position: relative;
    overflow-y: scroll;
    flex-wrap: wrap;
}


.scrllXBox{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
}
@media screen and (orientation:landscape) {
    .scrllResponsiveBox{
        display: inline-flex;
        flex-wrap: nowrap;
        flex-direction: row;
        overflow-x: scroll;
    }
}
@media screen and (orientation:portrait) {
    .scrllResponsiveBox{
        display: flex;
        overflow-y: scroll;
        flex-wrap: wrap;
    }
}
.img{
    background-size: 100% 100%;
}


.inputDefault::placeholder{
    color: var(--placeholderCol);
    opacity: 1;
}
.inputDefault::-ms-input-placeholder{
    color: var(--placeholderCol);
}
.inputDefault{
    border: none;
    background-color: transparent;
    color: inherit;
    outline: none;
    font-size: inherit;
}
.fitY{
    height: min-content; min-height: var(--height);
}
.fitX{
    display: flex;
    flex-direction: row;
}



.hideScroll::-webkit-scrollbar {
        display: none;
    }
    .hideScroll{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    body {
        margin: 0;
        padding: 0;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    
    .icon{
        height: 100%;
        aspect-ratio: 1/1;
        filter: invert(var(--invertIcon));
    }

    
    
    .buttonAnimRadial:after{
        content: "";
        position: absolute;
        
        display: block;
        left: 50%;
        top: 50%;
        opacity: 0;
        padding: 100%;
        margin: -100%;
    }

    .triBorder{
        position: relative;
        height: 40px;
        width: 40px;
        z-index: 1;
    }

    .overlay{
        position: relative;
        z-index: 1;
    }
    .overlay::before{
        content: '';
        position: absolute;
        z-index: -1;
    }


    :root{
        --padding:0px;
    }
    
    
    .overlay.pointDownShape::before{
        width: calc(var(--bottomWidth) - var(--padding) * 2);
        border-top:solid calc(1px*var(--height) - var(--padding) * 2) var(--backgroundCol);
        border-right:solid calc(( 1px* var(--width) - var(--padding) * (var(--width) / var(--height) + 1) - (var(--bottomWidth) - var(--padding) * 2)) / 2) transparent;
        border-left:solid calc(( 1px*var(--width) - var(--padding) * (var(--width) / var(--height) + 1) - (var(--bottomWidth) - var(--padding) * 2)) / 2) transparent;
        
    }

    .overlay.pillShape{
        border-radius: 500px;
        width: 100%;
        height: 100%;
    }

   
    .overlay.pointDownShapeHover:hover::before{
        width: calc(var(--bottomWidth) - var(--padding) * 2);
        border-top:solid calc(1px*var(--height) - var(--padding) * 2) var(--backgroundCol);
        border-right:solid calc(( 1px* var(--width) - var(--padding) * (var(--width) / var(--height) + 1) - (var(--bottomWidth) - var(--padding) * 2)) / 2) transparent;
        border-left:solid calc(( 1px*var(--width) - var(--padding) * (var(--width) / var(--height) + 1) - (var(--bottomWidth) - var(--padding) * 2)) / 2) transparent;
    }
    

    .test::before{
        background-color: red;
        height: 110%;
        width: 110%;
        margin-left: -5%;
        margin-top: -5%;
    }


    .triangleBorderInside{
        position: absolute;
        width: calc( 100% + var(--height) * 2 );
        padding: 0px var(--height) 0px var(--height);
        display: flex;
        justify-content: center;
        top: calc( -1 * var(--height) );
        height: var(--height);
    }
    .triangleBorderInsideHover{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .triangleBorderHover:hover{
        position: relative;
        border-radius: 0px;
        border-top:solid var(--height) var(--backgroundCol);
        border-right:solid var(--height) transparent;
        border-left:solid var(--height) transparent;
        height: 0px;
        background-color: transparent;
    }
    .triangleBorderInsideHover:hover{
        position: absolute;
        width: calc( 100% + var(--height) * 2 );
        padding: 0px var(--height) 0px var(--height);
        
        top: calc( -1 * var(--height) );
        height: var(--height);
    }
    .buttonAnimRadial{
        position: relative;
        overflow: hidden;
    }
    .buttonAnimRadial:active:after{
        transition: 0s;
        border-width: 0;
        opacity: 1;
        padding: 0;
        margin: 0;
    }
    .alignCenterY{
        display: flex;
        align-items: center;
    }
    
    *{
        box-sizing: border-box;
    }